<app-topbar1></app-topbar1>
<div id="bodyall">
  <div id="div1">
    <span class="badge badge-pill badge-warning mt-5"> Réinitialiser votre mot de passe ici ! </span>
    <h3 style="margin: 50px 0; color: #1e1b58 ;" class="mb-4 display-5 font-weight-semi-bold"> Modifier votre mot de
      passe E-shop </h3>
    <div id="forminscri" class="cols-sm-10" style="color: #1e1b58 ;">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="alert alert-danger" *ngIf="tokenAlreadyUsedError">Le lien de réinitialisation de mot de passe
          invalide ou expiré.</div>
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
          <div class=" d-flex align-items-baseline cols-sm-10">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg mr-2" aria-hidden="true"></i></span>
            <div class="inputinsc">
              <input type="password" class="form-control" name="password" formControlName="password" id="password"
                placeholder="Votre mot de passe ici (min 8 carac.)" />
              <div class="champsob" *ngIf="
                resetPasswordForm.get('password').hasError('required') &&
                resetPasswordForm.get('password').touched
              " style="color: red">
                *Ce champs est obligatoire!
              </div>
              <div class="champsob" *ngIf="
            resetPasswordForm.get('password').hasError('minlength') &&
            resetPasswordForm.get('password').touched
          " style="color: red">
                *Ce champs doit être au moins de 8 caractères!
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="cols-sm-6 control-label">Confirmer
          </label>
          <div class="d-flex align-items-baseline  cols-sm-10">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg mr-2" aria-hidden="true"></i></span>
            <div class="inputinsc">
              <input type="password" class="form-control" formControlName="passwordconfirm" name="passwordconfirm"
                id="confirm" placeholder="Confirmer votre mot de passe" />
              <div *ngIf="
              resetPasswordForm.get('passwordconfirm').valid &&
                    resetPasswordForm.get('passwordconfirm').touched
                  " style="color: red">
                *Ce champs est obligatoire!
              </div>
              <div class="champsob" *ngIf="
                resetPasswordForm.get('passwordconfirm').hasError('minlength') &&
                resetPasswordForm.get('passwordconfirm').touched
              " style="color: red">
                *Ce champs doit être au moins de 8 caractères!
              </div>
              <div style="color: red" *ngIf="resetPasswordForm.get('passwordconfirm').touched &&
                  resetPasswordForm.get('passwordconfirm').hasError('compare')">
                *Les deux mot de passe ne sont pas identiques!</div>
            </div>
          </div>
        </div>
        <!-- button de validation-->
        <div class="form-group" id="btn-modif">
          <button type="submit" class="btn btn-block" [disabled]="resetPasswordForm.invalid">
            Modifier mon mot de passe
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <a style="color:#1e1b58" routerLink="/auth/login">Se connecter</a>
        </div>
        <!-- button de validation-->
      </form>
    </div>
  </div>
</div>
