<app-topbar1></app-topbar1>


<div id="bodyall">
  <div id="div1">
    <span class="badge badge-pill badge-warning mt-5">Réinitialiser votre mot de passe ici ! </span>
    <h3 style="margin: 50px 0; color: #1e1b58 ;" class="mb-4 display-5 font-weight-semi-bold"> Trouver à votre compte
      E-shop </h3>
    <div id="forminscri" class="cols-sm-10" style="color: #1e1b58 ;">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="alert alert-danger" *ngIf="accountNotFound">L’adresse e-mail que vous avez saisie n’est associée à aucun compte E-shop.</div>
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">E-mail</label>
          <div class="  d-flex align-items-baseline cols-sm-10">
            <span class="input-group-addon"><i class="fa fa-envelope fa mr-2 " aria-hidden="false"></i></span>
            <div class="inputinsc">
              <input type="text" class="form-control" formControlName="email" name="email" id="email"
                placeholder="Votre e-mail ici" required />
                <div class="invalid-feedback d-block">
                  <div *ngIf="submitted && forgotPasswordForm.get('email').hasError('required')">
                      L'adresse e-mail est obligatoire.</div>
                  <div *ngIf="submitted && forgotPasswordForm.get('email').hasError('email')">
                    Le champ e-mail doit être une adresse e-mail valide.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- button de validation-->
        <div class="form-group" id="btn-modif">
          <button type="submit" class="btn btn-block" [disabled]="forgotPasswordForm.invalid">
            Envoyer le lien de réinitialisation
          </button>
        </div>
        <div class="d-flex justify-content-between">
          <a style="color:#1e1b58" routerLink="/auth/inscription">Créer un compte</a>
          <a style="color:#1e1b58" routerLink="/auth/login">Se connecter</a>
        </div>
        <!-- button de validation-->
      </form>
    </div>
  </div>
</div>
