<!-- cette partie contient les premiers produits : timbres poste à vendre pour la page home -->
<hr>
<div class="container" name="efleurs">
  <h3 class=" text-center text-warning title-text" style="margin-top: 50px;"> Fleurs de La poste tunisienne</h3>
  <h4 class="text-center sub-title-text" style="margin-bottom: 50px;">Des bouquets de fleurs confectionnés avec amour
    par nos
    artisans fleuristes !</h4>
</div>
<div class="row m-0 px-xl-5 pb-3">
  <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let product of products">
    <div class="card product-item border-0 mb-4">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <img [routerLink]="['/products/details', product._id]" class="img-fluid w-100 product-img"
          src="http://localhost:3000/{{product?.efleur?.photo}}" alt="Fleur de la poste">
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3">{{product?.efleur?.nom}}</h6>
        <div class="d-flex justify-content-center">
          <h6 class="price">Prix : {{product?.price}}.000 DTN</h6>
        </div>
        <span *ngIf="product?.efleur?.QunatityEfleurDisponible<1" class="badge badge-pill badge-danger">Epuisé</span>
        <span *ngIf="product?.efleur?.QunatityEfleurDisponible>=1 && product?.efleur?.QunatityEfleurDisponible<10"
          class="badge badge-pill badge-warning">Stock Limité</span>
        <span *ngIf="product?.efleur?.QunatityEfleurDisponible>=10" class="badge badge-pill badge-success">En Stock</span>
      </div>

      <div class="card-footer d-flex justify-content-center bg-light border">
        <a [routerLink]="['/products/details', product._id]" class="btn btn-sm text-dark p-0">
          <i class="fas fa-eye text-primary mr-1"></i>
          Voir détails
        </a>
        <!-- <a class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Ajouter au panier</a> -->
      </div>
    </div>
  </div>


</div>
