<app-topbar1></app-topbar1>
<app-sidebar></app-sidebar>

<div class="container-fluid mb-5 top-container">
  <div class="d-flex flex-column align-items-center justify-content-center all-products-box">
    <h1 class="font-weight-semi-bold text-uppercase mb-3 all-products-text">
      Tous nos produits
    </h1>
  </div>
</div>
<!-- search input -->
<hr>
<div class="container-fluid">
  <div class="row m-0">
    <div class="offset-md-2 col-md-8">
      <form>
        <div class="input-group">
          <input type="text" name="keyword" id="keyword" bindLabel="name"
            placeholder="Parcourez le magasin entier ici ..." class="form-control bg-secondary input-text search-input"
            role="combobox" bindValue="id" aria-haspopup="false" aria-autocomplete="both" autocomplete="off"
            aria-expanded="false" lect [(ngModel)]="searchText" />
          <div class="input-group-append">
            <button type="button" class="input-group-text search-btn">
              <i class="fa fa-search text-white"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>

<!-- all products -->
<div class="container-fluid">
  <!-- stamps section -->
  <div class="row m-0 px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor='let product of estampsProducts | filter: searchText'>
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img [routerLink]="['/products/details', product._id]" class="img-fluid w-100 product-img"
            src="http://localhost:3000/{{product?.estamp?.photo}}" alt="Timbre de la poste">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">{{product?.estamp?.sujet}}</h6>
          <div class="d-flex justify-content-center">
            <h6 class="price">Prix : {{product?.price/1000}} DTN</h6>
          </div>
          <span *ngIf="product?.estamp?.QunatityEstampDisponible<1" class="badge badge-pill badge-danger">Epuisé</span>
          <span *ngIf="product?.estamp?.QunatityEstampDisponible>=1 && product?.estamp?.QunatityEstampDisponible<10"
            class="badge badge-pill badge-warning">Stock Limité</span>
          <span *ngIf="product?.estamp?.QunatityEstampDisponible>=10" class="badge badge-pill badge-success">En Stock</span>
        </div>
        <div class="card-footer d-flex justify-content-center bg-light border">
          <a [routerLink]="['/products/details', product._id]" class="btn btn-sm text-dark "><i
              class="fas fa-eye text-primary mr-1"></i>Voir détails</a>
          <!-- <a class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Ajouter au panier</a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- fleurs section -->
  <div class="row m-0 px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let product of fleursProducts | filter:searchText">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img [routerLink]="['/products/details', product._id]" class="img-fluid w-100 product-img"
            src="http://localhost:3000/{{product?.efleur?.photo}}" alt="Fleur de la poste">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">{{product?.efleur?.nom}}</h6>
          <div class="d-flex justify-content-center">
            <h6 class="price">Prix : {{product?.price}}.000 DTN</h6>
          </div>
          <span *ngIf="product?.efleur?.QunatityEfleurDisponible<1" class="badge badge-pill badge-danger">Epuisé</span>
          <span *ngIf="product?.efleur?.QunatityEfleurDisponible>=1 && product?.efleur?.QunatityEfleurDisponible<10"
            class="badge badge-pill badge-warning">Stock Limité</span>
          <span *ngIf="product?.efleur?.QunatityEfleurDisponible>=10" class="badge badge-pill badge-success">En
            Stock</span>
        </div>

        <div class="card-footer d-flex justify-content-center bg-light border">
          <a [routerLink]="['/products/details', product._id]" class="btn btn-sm text-dark p-0"><i
              class="fas fa-eye text-primary mr-1"></i>Voir détails</a>
          <!-- <a class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Ajouter au panier</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <app-footer></app-footer>
</div>
<!-- Footer End -->
