<!-- Page Header Start -->
<div class="container-fluid mb-5 " style="background-color: #1E1B58;">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3" style=" color:#fdc600">Votre Panier</h1>
  </div>
</div>
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of cartService.tempCartItems;let index=index">
            <th scope="row" *ngIf="prod.articleInfo.estamp">
              <a [routerLink]="['/products/details', prod.productId]">
                {{prod.articleInfo.estamp?.sujet}}
              </a>
            </th>
            <th scope="row" *ngIf="prod.articleInfo.efleur">
              <a [routerLink]="['/products/details', prod.productId]">
                {{prod.articleInfo.efleur?.nom}}
              </a>
            </th>
            <td>
              <span *ngIf="prod.articleInfo.estamp">
                {{prod.articleInfo.price/1000}}
              </span>
              <span *ngIf="prod.articleInfo.efleur">
                {{prod.articleInfo.price}}.000
              </span>
            </td>
            <td>{{prod.quantity}}</td>
            <td>
              <span *ngIf="prod.articleInfo.estamp">
                {{prod.quantity*toNumber(prod.articleInfo.price)/1000}}
              </span>
              <span *ngIf="prod.articleInfo.efleur">
                {{prod.quantity*toNumber(prod.articleInfo.price)}}.000
              </span>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteItemCart(index)">
                <i class="fa fa-trash"></i> Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0"> Total panier</h4>
        </div>
        <!-- <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{{quantite}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Prix </h6>
                        <h6 class="font-weight-medium">{{totalSum(cartService.tempCartItems)}}Dt</h6>
                    </div>
                </div> -->
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">{{totalSum(cartService.tempCartItems)/1000}} DTN</h5>
          </div>
          <button class="btn btn-block btn-warning my-3 py-3" *ngIf="cartService.tempCartItems.length > 0"
            (click)="cartStep2()" [disabled]="!(authService.isLoginSubject | async)">
            Confirmer votre commande
          </button>
          <div class="alert alert-info d-block" *ngIf="cartService.tempCartItems.length > 0 && !(authService.isLoginSubject | async)">
            Vous n'êtes pas connecté pour confirmer votre commande.
            <a routerLink="/auth/login">Cliquer ici</a> pour connecter à votre compte.<br>
            Si vous n'avez pas de compte, <a routerLink="/auth/inscription">cliquez ici</a> pour créer un compte.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
