<app-topbar1></app-topbar1>
<app-sidebar></app-sidebar>

<div class="container-fluid mb-5 top-box">
  <div class="d-flex flex-column align-items-center justify-content-center min-h">
    <h1 class="font-weight-semi-bold text-uppercase mb-3 box-title">Votre facture</h1>
  </div>
</div>

<div class="container-fluid" *ngIf="cart">
  <div class="row">
    <div class="offset-lg-3 col-lg-6 col-md-12 d-flex justify-content-center">
      <div class="text-center pb-4">
        <img alt="logoofficielpostetn" src="assets/img/postetn.png" class="logo-poste">
        <a routerLink="/" class="text-decoration-none">
          <h3 class="mb-5 display-5">E-Shop by la Poste Tunisienne</h3>
        </a>
      </div>
    </div>
  </div>
  <header class="row d-flex flex-row-reverse justify-content-between">
    <div class="col-lg-6 mb-5 pr-3 pr-xl-5 poste-contact">
      <p class="mb-2">
        <i class="fa fa-map-marker-alt text-warning mr-3"></i>
        Centre de la Philatélie : Complexe postal de l’Ariana, 2 Avenue Habib Bourguiba 2080 Ariana - Tunisie
      </p>
      <p class="mb-2">
        <i class="fa fa-envelope text-warning mr-3"></i>
        philatelie@poste.tn
      </p>
      <p class="mb-0">
        <i class="fa fa-phone-alt text-warning mr-3"></i>
        Tél : (+216) 71 719 579 - 71 713 936
      </p>
    </div>
    <div class="col-lg-6 profile" *ngIf="myProfile">
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold">Nom du client :</span>
        <span>{{myProfile?.nom}}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold">E-mail :</span>
        <span>{{myProfile?.email}}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="font-weight-bold">Adresse de livraison :</span>
        <span>{{myProfile?.adresse}}</span>
      </div>
    </div>
  </header>
  <!-- main -->
  <main class="row m-0">
    <!-- header -->
    <section class="col-sm-12 offset-md-4 col-md-8 offset-lg-7 col-lg-5">
      <table class="meta mt-5">
        <tr>
          <th><span>Facture N°</span></th>
          <td><span>{{cart?._id}}</span></td>
        </tr>
        <tr>
          <th><span>Date</span></th>
          <td><span>{{cart?.createdAt | date:'short'}}</span></td>
        </tr>
        <tr>
          <th><span>Montant à payer </span></th>
          <td>
            <span id="prefix"></span>
            <span>{{cart?.subTotal}} DTN</span>
          </td>
        </tr>
      </table>
    </section>
    <!-- end header -->
    <!-- articles -->
    <section class="col-12">
      <table class="inventory">
        <thead>
          <tr>
            <th><span>N°</span></th>
            <th><span>Description</span></th>
            <th><span>Qté</span></th>
            <th><span>Prix unitaire</span></th>
            <th><span>Sous-total</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.items; let i=index">
            <td><span>{{i+1}}.</span></td>
            <td><span>{{item?.product_name}}</span></td>
            <td><span data-prefix>{{item?.quantity}}</span></td>
            <td>
              <span>{{item?.price}} DTN</span>
            </td>
            <td>
              <span data-prefix></span>
              <span>{{item?.total/1000 }} DTN</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- articles -->
    <!-- footer -->
    <section class="col-sm-12 offset-md-4 col-md-8 offset-lg-7 col-lg-5  pb-5">
      <table class="balance">
        <tr>
          <th><span>Total</span></th>
          <td><span data-prefix></span><span>{{cart?.subTotal}}</span> DTN</td>
        </tr>
      </table>
    </section>
    <!-- end footer -->
  </main>
  <aside class="row">
    <div class="col-12 my-3 text-center" *ngIf="cart?.invoiceLink">
      <a class="btn btn-success" href="{{cart?.invoiceLink}}" download="facture">
        <i class="fa fa-download"></i>
        Télécharger la facture PDF
      </a>
    </div>
    <span class="col-12 text-center pb-5">
      La poste tunisienne vous remercie pour votre confiance
    </span>
  </aside>
</div>
<hr>
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <app-footer></app-footer>
</div>
<!-- Footer End -->
