<app-topbar1></app-topbar1>
<app-sidebar></app-sidebar>

<div class="container-fluid mb-5" style="background-color: #1E1B58;">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3" style="color: #fdc600;">Confirmation de la commande</h1>
  </div>
</div>

<hr>
<div class="container-fluid pt-5">
  <div class="row m-0 px-xl-5">
    <div class="col-lg-7">
      <div class="mb-4">
        <h4 class="font-weight-semi-bold mb-4">Informations personnelles </h4>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="font-weight-bold">Nom & prénom :</label>
            <p>{{nom}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label class="font-weight-bold">E-mail :</label>
            <p>{{email}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label class="font-weight-bold">Numero de téléphone :</label>
            <p>{{tel}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label class="font-weight-bold">Adresse :</label>
            <p>{{adresse}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Détails commande </h4>
        </div>
        <div class="card-body">
          <h5 class="font-weight-medium mb-3">Produits</h5>
          <div class="d-flex justify-content-between" *ngFor="let item of cartServ.tempCartItems; let i=index">
            <p>
              {{i+1}}.
              <span *ngIf="item.articleInfo.estamp">{{item.articleInfo?.estamp?.sujet}}</span>
              <span *ngIf="item.articleInfo.efleur">{{item.articleInfo.efleur?.nom}}</span>
            </p>
            <p> P.U
              <span *ngIf="item.articleInfo.estamp">
                {{item.articleInfo.price/1000}}
              </span>
              <span *ngIf="item.articleInfo.efleur">
                {{item.articleInfo.price}}.000
              </span>
              x {{item.quantity}}
            </p>
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
              <h5 class="font-weight-bold">Total</h5>
              <h5 class="font-weight-bold">
                {{totalSum(cartServ.tempCartItems)/1000}} DTN
              </h5>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-5">
          <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">Mode de Livraison</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="livraison" id="paypal3"
                  [(ngModel)]="deliveryMethod" value="Au bureau de poste" checked>
                <label class="custom-control-label" for="paypal3">Au bureau de poste</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="livraison" id="paypal2"
                  [(ngModel)]="deliveryMethod" value="Par courrier express">
                <label class="custom-control-label" for="paypal2">Par courrier express</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="livraison" id="paypal1"
                  [(ngModel)]="deliveryMethod" value="Par par pikpak box">
                <label class="custom-control-label" for="paypal1">Par par pikpak box</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-5">
          <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">Mode de paiement</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="paypal" [(ngModel)]="payementMethod"
                  value="À la livraison" checked>
                <label class="custom-control-label" for="paypal">À la livraison</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="directcheck"
                  [(ngModel)]="payementMethod" value="Au bureau de poste">
                <label class="custom-control-label" for="directcheck">Au bureau de poste</label>
              </div>
            </div>
            <div class="">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="banktransfer"
                  [(ngModel)]="payementMethod" value="Par carte bancaire/E-dinar">
                <label class="custom-control-label" for="banktransfer"> Par carte bancaire/E-dinar </label>
              </div>
            </div>
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <button class="btn btn-block btn-warning my-3 py-3" [disabled]="payementMethod === undefined"
              (click)="makePayment(totalSum(cartServ.tempCartItems))">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
              <span *ngIf="payementMethod === 'Par carte bancaire/E-dinar'"> Passer au paiement</span>
              <span *ngIf="payementMethod !== 'Par carte bancaire/E-dinar'"> Valider et continuer</span>
            </button>
            <p> Consulter les <a routerLink="/conditions-vente" style="text-decoration:underline">conditions générales
                de vente</a> pour plus d'informations sur les modes de livraison et de paiement. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
