<app-topbar1></app-topbar1>
<app-sidebar></app-sidebar>

<div class="container-fluid mb-5" style="background-color: #1E1B58;">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3" style="color: #fdc600;">Confirmation de la commande</h1>
  </div>
</div>

<hr>
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div class="mb-4">
        <h4 class="font-weight-semi-bold mb-4">Informations personnelles </h4>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Nom & prénom</label>
            <p>{{nom}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label>E-mail</label>
            <p>{{email}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label>Numero de téléphone</label>
            <p>{{tel}}</p>
          </div>
          <div class="col-md-6 form-group">
            <label>Addresse</label>
            <p>{{adresse}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Détails commande </h4>
        </div>
        <div class="card-body">
          <h5 class="font-weight-medium mb-3">Produits</h5>
          <div class="d-flex justify-content-between" *ngFor="let item of cartServ.tempCartItems">
            <p>{{item.articleInfo.estamp.sujet}}</p>
            <p> P.U {{item.articleInfo.price}} x {{item.quantity}}</p>
          </div>
          <div class="d-flex justify-content-between mb-3 pt-1">
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
              <h5 class="font-weight-bold">Total</h5>
              <h5 class="font-weight-bold">{{totalSum(cartServ.tempCartItems)/1000}}Dt</h5>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-5">
          <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">Mode de Livraison</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment3" id="paypal3" [(ngModel)]="modepay"
                  value="choix13">
                <label class="custom-control-label" for="paypal3">Au bureau de poste</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment2" id="paypal2" [(ngModel)]="modepay"
                  value="choix12">
                <label class="custom-control-label" for="paypal2">Par courrier express</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment1" id="paypal1" [(ngModel)]="modepay"
                  value="choix11">
                <label class="custom-control-label" for="paypal1">Par par pikpak box</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-5">
          <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">Mode de paiement</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="paypal" [(ngModel)]="modepay"
                  value="choix1">
                <label class="custom-control-label" for="paypal">A la livraison</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="directcheck" [(ngModel)]="modepay"
                  value="choix2">
                <label class="custom-control-label" for="directcheck">Au bureau de poste</label>
              </div>
            </div>
            <div class="">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="banktransfer" [(ngModel)]="modepay"
                  value="choix3">
                <label class="custom-control-label" for="banktransfer"> Par carte bancaire/e-dinar </label>
              </div>

            </div>
          </div>
          <div class="card-footer border-secondary bg-transparent">
            <button class="btn btn-block btn-warning my-3 py-3" [disabled]="modepay === undefined"
              (click)="makePayment(totalSum(cartServ.tempCartItems))">
              <p *ngIf="modepay === 'choix3'; else t2">Passer au paiement</p>
              <ng-template #t2>Valider et continuer</ng-template>
            </button>
            <p> Consulter les <a routerLink="/conditions-vente" style="text-decoration:underline">conditions générales
                de vente</a> pour plus d'informations sur les modes de livraison et de paiement. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
